# Copier vers .env à la racine si besoin de surcharger docker compose.
# docker compose lit aussi ce fichier s'il est nommé .env.

POSTGRES_DB=emc_lms_db
POSTGRES_USER=emc
POSTGRES_PASSWORD=emc_secret
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=change-me-in-production
DEBUG=True
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_FRONTEND_DOMAIN=localhost:8080

DJANGO_SUPERUSER_EMAIL=admin@emc.local
DJANGO_SUPERUSER_PASSWORD=AdminPass123!
DJANGO_SUPERUSER_USERNAME=admin

APP_PORT=8080
