annotated-types==0.8.0
asgiref==3.12.1
attrs==26.1.0
certifi==2026.7.22
cffi==2.1.0
chardet==7.4.3
charset-normalizer==3.4.9
colorama==0.4.6
coverage==7.15.2
cryptography==49.0.0
defusedxml==0.7.1
Django==6.0.7
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
drf-spectacular==0.30.0
factory_boy==3.3.3
Faker==40.36.0
google-auth==2.56.2
google-genai==0.8.0
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.1.1
oauthlib==3.3.1
packaging==26.2
pillow==12.3.0
pluggy==1.6.0
psycopg2-binary==2.9.12
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.14.0a1
pydantic_core==2.47.0
Pygments==2.20.0
PyJWT==2.13.0
pypdf==5.4.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.12.0
python-docx==1.1.2
python-dotenv==1.2.2
python3-openid==3.2.0
PyYAML==6.0.3
referencing==0.37.0
reportlab==4.2.5
requests==2.34.2
requests-oauthlib==2.0.0
rpds-py==2026.6.3
social-auth-app-django==5.9.0
social-auth-core==4.9.1
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.7.0
websockets==14.2
